<!DOCTYPE html>
<html ng-app="movieApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="app.js"></script>
    <script src="actorCtrl.js"></script>
</head>

<body>
    <h1 class="bkgH1">Justice League (2017)</h1>

    <br>
    <div ng-controller="actorCtrl">
        <div class="well" class="style_display">
            Search:
            <input type="text" ng-model="query.fName" /> Order By:
            <select ng-model="orderProp">
                <option value="fName">First name</option>
                <option value="lName">Last name</option>
            </select>
        </div>
        <h2>Movie Cast</h2>
        <br>
        <div class="col-sm-4" ng-repeat="actor in actors | filter: query | orderBy: orderProp:true">

            <a ng-href="{{actor.imdb}}">
                <img ng-src="{{actor.image}}">
            </a>
            <p>{{actor.fName + " " + actor.lName}}</p>
        </div>
    </div>

    <div class "movies" ng-controller="moviesCtrl">
            <div class="well" class="style_display">
                    <h1>10 Best Movies</h1>
            </div>
                    <div class="col-sm-4" ng-repeat="am-movie in am-movies">  
                            <a ng-href="{{movie.imdb}}">
                                    <img ng-src="{{movie.image}}">
                                </a>
                                <p>{{"The movie:" + Movie.name}}</p>
                                <p> {{"Director" + movie.dirctor}}</p>
                    </div>

                                



    </div>
        
</body>

</html>